[Desktop Entry]
Encoding=UTF-8
Version=1.0
Name[en_US]=SeaLion
GenericName=SeaLion PCB Tester
Exec=python3 /opt/SeaLion/RunMainWindow.py
Terminal=false
Icon=/opt/SeaLion/DesktopIcon.png
Type=Application
Categories=Application;
Comment[en_US]=SeaLion PCB Tester Launcher
