SUBSYSTEM=="tty", ATTRS{idVendor}=="0856", ATTRS{serial}=="BBRIJ5YD", SYMLINK+="rleRS232"
SUBSYSTEM=="tty", ATTRS{idVendor}=="0856", ATTRS{serial}=="BBRUBK4U", SYMLINK+="rleRS485"
