SUBSYSTEMS=="usb-serial", ATTRS{product}=="Model 232USB9M", SYMLINK+="rleRS232"
SUBSYSTEMS=="usb-serial", ATTRS{product}=="Model 485USBTB-2W", SYMLINK+="rleRS485"
